.container {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  background-color: rgb(32, 32, 32);
  color: white;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding-top: 5%;
  padding-bottom: 5%;
  animation: fade-in 2s;
}

.center {
  color: white;
  display: flex;
  justify-content: center;
}

.button, input::file-selector-button, .download-button, .back-button, .logout-button, .next-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  touch-action: manipulation;
  font-family: sans-serif;
}

input::file-selector-button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}

input[type=file] {
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.download-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 2px solid rgba(255, 255, 255, 0);
  font-size: 20px;
}

.back-button {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 20px
}

.logout-button {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 20px
}

.next-button {
  position: relative;
  left: 47%;
  margin-top: 5%;
  animation: fade-in 2s;
}

.download-button:hover, .back-button:hover, .logout-button:hover, .next-button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: 0.5s;
}

button:disabled, .next-button:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  color:rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0);
}

a:link { 
  text-decoration: none; 
}

.title {
  font-size: 1.8em;
  font-weight: 400;
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}